/****** Script for SelectTopNRows command from SSMS  ******/
SELECT MAX([Id])
      --,[SymbolId]
      --,[Symbol]
      --,[Date]
      --,[Open]
      --,[High]
      --,[Low]
      --,[Close]
      --,[Volume]
      --,[AdjClose]
      --,[timestamp]
  FROM [Markets].[dbo].[Dailys]