/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Id]
      ,[Ticker]
      ,[BuyDate]
      ,[MaxPain]
      ,[BuyOpen]
      ,[BuyHigh]
      ,[BuyLow]
      ,[BuyClose]
      ,[BuyVolume]
      ,[SellDate]
      ,[SellOpen]
      ,[SellHigh]
      ,[SellLow]
      ,[SellClose]
      ,[SellVolume]
      ,[TradeValue]
      ,[CurrentLow]
  FROM [Markets].[dbo].[DailyTrades]
  